#hero {
    cursor: pointer;
}

#hero:hover {
    cursor: none;
}

.cursor-dot {
    position: fixed;
    width: 75px;
    height: 75px;
    background: rgba(16, 185, 129, 0.3);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    filter: blur(30px);
    box-shadow: 0 0 80px rgba(16, 185, 129, 0.3);
    transform: translate(-50%, -50%);
    left: var(--cursor-x);
    top: var(--cursor-y);
}